[user]
	name = Sascha Ohms
	email = sasch9r@gmail.com
	signingkey = CC962DD6CF9E5226

[core]
	editor = vim
	pager = less -r

[push]
	default = simple

[format]
	pretty = format:%h %Cblue%<(12,trunc)%ar%Creset %<(15,trunc)%an %Cgreen%s%Creset
