[submodule ".zsh/zsh-git-prompt"]
  url = https://github.com/olivierverdier/zsh-git-prompt.git
  active = true
[submodule ".zsh/zsh-autosuggestions"]
  url = https://github.com/zsh-users/zsh-autosuggestions.git
  active = true
